<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2 class="form_header">Add Picture</h2>
<%= form_for @picture do |f| %>

  <% @picture.errors.messages.each do |error| %>
    <%= error.last.first %>
  <% end %>


  <p>
    <%= f.label :url, "URL of Photo", class: "form-label" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :description, "Short Description", class: "form-label" %>
    <%= f.text_area :description, class: "description" %>
  </p>

  <p>
    <%= f.label :rating, class: "form-label" %>
    <%= f.text_field :rating, class: "rating_field" %>
  </p>

  <p>
    <%= f.submit class: "form-button" %>
  </p>

<% end %>