<div class="flash_notice">
  <p><%= flash[:notice] %></p>
</div>



<div class="show_pic">
  <img width="448" height="252" class="picture_frame" src="<%= @picture.url %>" frameborder="0" allowfullscreen>

  <div class="show_container">
    <a href="<%= @picture.url %>"><%= @picture.url %></a>
    <%= link_to '(Edit)', edit_picture_path(@picture), class: 'edit_button' %>

    <div class="show_description">
      <%= simple_format(@picture.description)%>
    </div>
  </div>

  <div class="show_pic_rating">
    <p>Rating: <%= @picture.rating %> out of 5</p>
  </div>
</div>